
.vs/Horizon-Forge--Web-RPG/v16/.suo
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Horizon-Forge--Web-RPG/v17/.suo
.vs/Horizon-Forge--Web-RPG/v17/.suo
.vs/Horizon-Forge--Web-RPG/v17/workspaceFileList.bin
